RewriteEngine On
RewriteBase /

# Redirect /portfolio-projects/webuild to /portfolio-projects/project-2.html internally
RewriteRule ^portfolio-projects/webuild$ portfolio-projects/project-2.html [L]

# If the user requests /something.html, internally serve /something.html
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^ %{REQUEST_URI}.html [L]

# Redirect /something.html to /something internally
RewriteCond %{THE_REQUEST} /([^.]+)\.html [NC]
RewriteRule ^ /%1 [NC,L,R]