RewriteEngine On
RewriteBase /

# Redirect /portfolio-projects/project-2.html to /portfolio-projects/webuild/
RewriteCond %{REQUEST_URI} ^/portfolio-projects/project-2\.html$
RewriteRule ^(.*)$ /portfolio-projects/webuild/ [R=301,L]

# If the user requests /something.html, internally serve /something
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^(.*)$ $1.html [L]